@use '@angular/material' as mat;
@include mat.core();

/* Definimos un nuevo mapa de clores */
$colores: (
  50: #FAFAFA,
  100: #F5F5F5,
  200: #EEEEEE,
  300: #E0E0E0,
  400: #BDBDBD,
  500: #9E9E9E,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  contrast: (
    50: #212121,
    100: #424242,
    200: #616161,
    300: #757575,
    400: #9E9E9E,
    500: #BDBDBD,
    600: #E0E0E0,
    700: #EEEEEE,
    800: #F5F5F5,
    900: #FAFAFA,
  )
);

/* 
 * Creamos 2 paletas para modo claro (primary y accent), 
 * y 2 para modo oscuro (primary y accent).
 * Las paletas primary parten de la definida arriba ($colores),
 * y las accent parten de una ya definida en Angular (mat.$light-blue-palette).
 * los 4 números corresponden a los calores default, lighter, darker y text .
 */

$p-primary-light: mat.define-palette($colores, 800, 50, 900, 900);
$p-accent-light: mat.define-palette(mat.$green-palette, 100, 900, 50, 50);
$p-primary-dark: mat.define-palette($colores, 100, 900, 50, 50);
$p-accent-dark: mat.define-palette(mat.$teal-palette, 700, 50, 800, 900);

/*
 * Defino los temas claro y oscuro a partir de las paletas, 
 * dejando el resto de opciones por defecto 
 */

 $t-light: mat.define-light-theme((
  color: (
    primary: $p-primary-light,
    accent: $p-accent-light,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$t-dark: mat.define-dark-theme((
  color: (
    primary: $p-primary-dark,
    accent: $p-accent-dark,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Aplico el tema por defecto (dark)
@include mat.all-component-colors($t-dark);

/* 
 * Si el usuario prefiere el modo claro, aplico el tema claro (light)
 * Se puede comprobar modificando el modo en el Panel de Control
 * o desde el navegador DevTools > Elements > Styles > Icono de Brush 
 */
@media (prefers-color-scheme: light) {
  @include mat.all-component-colors($t-light);
}

//Mixin para obtener el color de texto en función del modo (claro u oscuro)
@mixin get-color($palette,$hue){
  color: mat.get-theme-color($t-dark, $palette, $hue);
  @media (prefers-color-scheme: light) {
    color: mat.get-theme-color($t-light, $palette, $hue);
  }
}

//Mixin para obtener el color de fondo en función del modo (claro u oscuro)
@mixin get-bg-color($palette,$hue){
  background-color: mat.get-theme-color($t-dark, $palette, $hue);
  @media (prefers-color-scheme: light) {
    background-color: mat.get-theme-color($t-light, $palette, $hue);
  }
}

//Mixin para preformatear los enlaces
@mixin a-no-underline-hover-bold() {
  a {
      font-weight: normal;
      text-decoration: none;

      &:hover {
          font-weight: bold;
      }

      &:visited {
          color: unset;
      }
  }
}