/* Esto me permitirá usar los mixins de _theme.scss */
@use '../theme' as theme;

/* Contenedor principal */
main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Barra superior */
.mat-toolbar{
  justify-content: space-between;
  @include theme.get-color(primary,lighter); /* Mixin en _theme.scss */
  @include theme.get-bg-color(primary,darker); /* Mixin en _theme.scss */
  div{
    display: flex;
    align-items: center;

    img{
      height: 2.5rem;
      vertical-align: middle;
      &.logo-light{
        display: none;
      }
      /* Cambio de logo en función del tema */
      @media (prefers-color-scheme: light) {
        &.logo-light{
          display: inline-block;
        }
        &.logo-dark{
          display: none;
        }
      }
    }
  }
  /* Menú de navegación */
  nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    li{
      padding-left: 1rem;
      @include theme.a-no-underline-hover-bold();
    }
  }

  /* En móviles, nos aseguramos de que la barra quede fija */
  &.is-mobile{
    position: fixed;
    z-index: 2;
  }
}

/* Contenedor para el sidenav y el contenido principal */
.mat-sidenav-container {
  /* 
   * Por defecto, ajusta el contenido apra ocpar todo el espacio disponible. Esto 
   * hace que <mat-sidenav-content> sea el elemento de scroll en layouts de escritorio. 
   */
  flex: 1;
  /* Barra de navegación lateral */
  .mat-drawer{
    border-right: none;
    @include theme.get-bg-color(accent,default);
  }
  ul{
    list-style: none;
    padding: 0 1.2rem;
    li{
      display: flex;
      align-items: center;
      justify-items: start;
      padding: 0.25rem 0;
      @include theme.a-no-underline-hover-bold(); /* Mixin en _theme.scss */
      @include theme.get-color(accent,lighter); /* Mixin en _theme.scss */
      a{
        font-weight: normal;
        .mat-icon{
          font-size: 1.5rem;
          height: 1.5rem;
          width: 1.5rem;
          @include theme.get-color(accent,lighter); /* Mixin en _theme.scss */
        }
      }
    }
  }
  /* 
   * En móviles, no bloquea la altura del contenedor. Esto hace que 
   * <body> sea el elemento de scroll en layout de móviles
   */
  &.is-mobile{
    flex: 1 0 auto;
    margin-top: 56px;
  }
}

/* Contenedor para el <router-outlet> */ 
section{
  margin: 1rem;
}

/* Pie del sitio */
footer{
  width: 100%;
  align-self: end;
  padding: 1.3rem;
  text-align: center;
  @include theme.get-color(primary,lighter); /* Mixin en _theme.scss */
  @include theme.get-bg-color(primary,darker); /* Mixin en _theme.scss */
  p{
    margin: 0;
    @include theme.a-no-underline-hover-bold(); /* Mixin en _theme.scss */
  }
}