<h1>{{ title }}</h1>

<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Datos personales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre">
            @if (addressForm.controls['nombre'].hasError('required')) {
              <mat-error>El nombre es <strong>obligatorio</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellidos" formControlName="apellidos">
            @if (addressForm.controls['apellidos'].hasError('required')) {
              <mat-error>Los apellidos son <strong>obligatorios</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Dirección" formControlName="direccion"></textarea>
            @if (addressForm.controls['direccion'].hasError('required')) {
              <mat-error>La dirección es <strong>obligatoria</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ciudad" formControlName="ciudad">
            @if (addressForm.controls['ciudad'].hasError('required')) {
              <mat-error>La ciudad es <strong>obligatoria</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Provincia" formControlName="provincia">
              @for (provincia of provincias; track provincia) {
                <mat-option [value]="provincia.abreviatura">{{ provincia.nombre }}</mat-option>
              }
            </mat-select>
            @if (addressForm.controls['provincia'].hasError('required')) {
              <mat-error>La provincia es <strong>obligatoria</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #codigoPostal maxlength="5" placeholder="Código postal" 
            type="number" formControlName="codigoPostal">
            <mat-hint align="end">{{codigoPostal.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="sexo">
            <mat-radio-button value="hombre">Hombre</mat-radio-button>
            <mat-radio-button value="mujer">Mujer</mat-radio-button>
            <mat-radio-button value="otros">Otros</mat-radio-button>
            <mat-radio-button value="no">Prefiero no decirlo</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="/">
        Volver
      </a>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
