<h1>{{ title }}</h1>
<p>
    Esta página simplemente muestra información en forma de listado 
    relativa a las fuentes utilizadas para la creación de este sitio.
</p>
<mat-list>
    <mat-list-item>
        <strong>Textos e imágenes</strong>: 
        <a href="https://harrypotter.fandom.com" target="_blank">
            https://harrypotter.fandom.com
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <strong>Listado de provincias</strong>: 
        <a href="https://chatgpt.com/" target="_blank">
            https://chatgpt.com/
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <strong>Documentación Angular</strong>: 
        <a href="https://angular.dev/" target="_blank">
            https://angular.dev/
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <strong>Documentación Angular Material</strong>: 
        <a href="https://material.angular.io/" target="_blank">
            https://material.angular.io/
        </a>
    </mat-list-item>
  </mat-list>

